# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
Babel
Bottleneck
Brotli
Cython
Fiona
Flask
Flask-Caching
Flask-Compress
Flask-SeaSurf
GitPython
Jinja2
MarkupSafe
Pillow
PyYAML
Pygments
Pympler
Send2Trash
Werkzeug
altair==4.2.2
ansi2html
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-generator
async-lru
attrs
backcall
beautifulsoup4
black
bleach
blinker
brotlipy
cachelib
cachetools
certifi
cffi
chardet
charset-normalizer
chart-studio
click
click-plugins
cligj
comm
contourpy
cryptography
cycler
dash
dash-auth
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
debugpy
decorator
defusedxml
deprecation
entrypoints
et-xmlfile
exceptiongroup
executing
fastjsonschema
fonttools
fqdn
frozendict
geopandas
gitdb
gunicorn
html5lib
httpagentparser
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
json5
jsonpointer
jsonschema
jupyter-client
jupyter-core
jupyter-events
jupyter-lsp
jupyter-packaging
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
lxml
markdown-it-py
matplotlib
matplotlib-inline
mdurl
mistune
multitasking
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numexpr
numpy
openpyxl
overrides
packaging
pandas
pandas-datareader
pandocfilters
parso
pathspec
patsy
pexpect
pickleshare
pip
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydeck
pyparsing
pyproj
pyrsistent
python-dateutil
python-json-logger
pytz
pytz-deprecation-shim
pyzmq
regex
requests
retrying
rfc3339-validator
rfc3986-validator
rich
scipy
setuptools
shapely
six
smmap
sniffio
soupsieve
stack-data
statsmodels
streamlit
tenacity
terminado
tinycss2
toml
tomli
tomlkit
toolz
tornado
traitlets
typing-extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
websocket-client
wheel
xlrd
yfinance
zipp
